<p id="notice"><%= notice %></p>

</br>
<p>
  <strong>NAME :</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>CONTACT :</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>EMAIL :</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>ADDRESS :</strong>
  <%= @customer.address %>
</p>
</br>

<table class="table">
  <thead>
  <tr>
    <th>ITEMS NAME</th>
    <th>CATEGORY</th>
    <th>PRICE</th>
    <th>QUANTITY</th>
    <th>TOTAL</th>
  </tr>
  </thead>

  <tbody>
 
  <% grandTotal = 0 %>
  <% @items.each do |item| %>
   
    <tr>  
      <td><%= item.product_name %></td>
      <td><%= item.cctv.category %></td>
      <td style="text-align: right;"><i class="fa fa-inr">&nbsp</i><%= item.price %></td>
      <td style="text-align: right;"><%= item.quantity %></td>
      <% total = item.price.to_i * item.quantity.to_i %>
      <td style="text-align: right;"><i class="fa fa-inr">&nbsp</i><%= total %>.00</td>
    </tr>
    <% grandTotal += total %>
    <% end %>
   
   <tr>
   <td colspan="4"></td>
   <td style="text-align: right;">GRAND TOTAL: <i class="fa fa-inr">&nbsp</i><%= grandTotal %>.00</td>
   </tr>
  
  </tbody>
</table>

