<style>
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}

</style>

<h4>YOUR REQUEST IS SUCCESSFULLY CONFIRMED...!</h4>
<p>
  <strong>NAME:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>CONTACT:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>EMAIL:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>ADDRESS:</strong>
  <%= @customer.address %>
</p>

<table class="table conf-table">
  <thead>
  <tr>
    <th>ITEMS NAME</th>
    <th>CATEGORY</th>
    <th>PRICE</th>
    <th>QUANTITY</th>
    <th>TOTAL</th>
  </tr>
  </thead>

  <tbody>
 
  <% grandTotal = 0 %>
  <% @items.each do |item| %>
   
    <tr>  
      <td><%= item.product_name %></td>
      <td><%= item.cctv.category %></td>
      <td style="text-align:right;"><%= item.price %></td>
      <td style="text-align:center;"><%= item.quantity %></td>
      <% total = item.price.to_i * item.quantity.to_i %>
      <td style="text-align:right;"><%= total %>.00</td>
    </tr>
    <% grandTotal += total %>
    <% end %>
   
   <tr>
   <td colspan="3"></td>
   <td>GRAND TOTAL: </td>
   <td style="text-align:right;"><%= grandTotal %>.00</td>
   </tr>
  
  </tbody>
</table>


